# Core functionality - changes here should be rare!
/src/app.py                   @yurume
/src/backend/database.py      @yurume
/src/backend/routers/auth.py  @yurume

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yurume
